@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-70;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.btnhum-line {
  @apply w-[30px] h-[2px] my-2 block bg-slate-800;
}

.btnhum-active > span:nth-child(1) {
  @apply rotate-45;
}

.btnhum-active > span:nth-child(2) {
  @apply scale-0;
}

.btnhum-active > span:nth-child(3) {
  @apply -rotate-45;
}

mark:hover {
  --color1: springgreen;
  --color2: springgreen;
  --bg-height: 40%;

  all: unset;
  background-image: linear-gradient(var(--color1), var(--color2));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 var(--bg-height);
  animation: highlight 1800ms 1 ease-out;
  animation-fill-mode: forwards;
  animation-play-state: play;
}

@keyframes highlight {
  to {
    background-size: 100% var(--bg-height);
  }
}
